body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #44CCFF;
}

.calculator {
  width: 100%;
  max-width: 500px;
  height: 90%;
  background-color: #7B4B94;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

#display {
  width: 93%;
  height: 80%;
  padding: 15px;
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start:1 ;
  grid-row-end: 2;
  margin-bottom: 10%;
  padding: 10px;
  font-size: 20px;
  
}

.Grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

button {
  padding: 15px;
  font-size: 18px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.operator {
  background-color: #CFBFF7;
  text-align: center;
}

.clear {
  background-color: #EF6F6C;
  color: #fff;
}

.calculate {
  background-color: #7FB685;
  color: #fff;
}
